.site-footer {
  height: 280px;
  padding: 40px 60px;

  .support-item {
    width: 40%;
    .more-info {
      ul {
        li {
          font-size: 15px;
        }
      }
    }
  }
  .footer-items {
    width: 75%;
    flex-direction: row;
    -ms-flex-direction: row;

    .footer-item {
      .button {
        margin-right: $margin-dt;
        top: 55px;
      }
      &.social {
        position: absolute;
        top: 40px;
        right: 50%;
        order: -1;
      }
    }
  }
}