.site-footer {
  height: 320px;
  padding: 60px;

  .support-item {
    width: 40%;
  }
  .footer-items {
    width: 75%;
    flex-direction: row;

    .footer-item {
      .button {
        margin-right: $margin-dt;
      }
      &.social {
        position: relative;
        top: 0;
        order: -1;
      }
    }
  }
}