.button {

  &.small-button {
    font-size: $base-font-size;
    padding: 10px;
    width: 200px;
    .icon {
      &:after {
        right: 15px;
        top: 15px;
      }
    }
  }

  &.read-button {
    font-size: 18px;
  }

}

