.page-content {
  margin-top: $header-height-dt;
  padding: 0 $margin-dt;

  h1 {
    font-size: 35px;
  }
  p {
    padding: 0;
    font-size: 18px;
    font-weight: 100;
    line-height: 33px;
  }

  .wrapper {
    margin-left: -$margin-dt;
    margin-right: -$margin-dt;
  }


  .about-block {

    max-height: 550px;

    .feature-image {
      position: absolute;
      right: 0;
      height: 100%;
      //float: right;
      //width: 50%;
      background-size: 110%;
      background-position: 0 29%;
      z-index: -1;
    }

    .about-plugin {
      text-align: left;
      float: left;
      width: 50%;
      padding: 8% 5%;
      margin: 0;

      .button {
        float: left;
      }
      h1, p {
        margin: 0;
        vertical-align: middle;
        padding-bottom: 25px;
      }
      p {
        width: 100%;
        margin: 0;
      }
    }
  }

  @media (min-width: 1160px) {

    .intro-guide {
      padding: 60px;
      h1 {
        padding-bottom: 25px;
        margin: 0;
      }
      p {
        margin: auto;
        width: 600px;
      }
    }
    .guide-items {
      padding: 20px $margin-dt;

      .guide-item {
        clear: both;

        overflow: auto;
        padding: 40px 0;

        .example-image {
          width: 50%;
          float: left;
        }
        .step-info {
          float: right;
          width: 50%;
          padding-left: 40px;
          p {
            font-weight: 300;
            max-width: 750px;
          }

        }
      }
    }
  }
}