<footer class="site-footer">
    <div class="support-item">
        <div class="more-info">
            <span class="footer-title">More information</span>
            <ul>
                <li><a href="#">User guide</a></li>
                <li><a href="#">Support forum</a></li>
                <li><a href="#">support@level-level.com</a></li>
                <li><a href="#">Github</a></li>
            </ul>
        </div>
        <div class="copyright">
            <a class="logo" href="http://level-level.com"></a>
            <span class="copyright-info"> &copy; Level Level {{ site.time | date: '%Y' }} - <a href="http://level-level.com">level-level.com</a></span>
        </div>

    </div>
    <div class="footer-items">

        <div class="footer-item">
            <a class="button download-button small-button" href="#"><span class="icon"></span> download plugin</a>
        </div>

        <div class="footer-item social">
            <span class="footer-title">Share plugin</span>
            <ul>
                <li><a href="#"><span class="icon icon-twitter"></span></a></li>
                <li><a href="#"><span class="icon icon-facebook"></span></a></li>
                <li><a href="#"><span class="icon icon-linkedin"></span></a></li>
                <li><a href="#"><span class="icon icon-googleplus"></span></a></li>
            </ul>
        </div>
    </div>
</footer>

</body>
<script src="{{site.baseurl}}/js/lib/jquery-2.1.4.min.js"></script>
<script src="{{site.baseurl}}/js/main.js"></script>
</html>

