<footer class="site-footer">
    <div class="support-item">
        <div class="more-info">
            <span class="footer-title">More information</span>
            <ul>
                <li><a class="info-link" href="/get-started/">Get started</a></li>
                <li><a class="info-link" href="#">Support forum</a></li>
            </ul>
        </div>
        <div class="copyright">
            <a class="logo" href="http://level-level.com"></a>
            <span class="copyright-info"> &copy; Level Level {{ site.time | date: '%Y' }} - <a class="info-link" href="http://level-level.com">level-level.com</a></span>
        </div>

    </div>
    <div class="footer-items">

        <div class="footer-item">
            <a class="button download-button small-button" href="#"><span class="icon"></span> download plugin</a>
        </div>

        <div class="footer-item social">
            <span class="footer-title">Share plugin</span>
            <ul>
                <li>
                    <a class="popup social-link" href="http://twitter.com/intent/tweet?status={{site.title}}+{{site.url}}">
                        <span class="icon icon-twitter"></span>
                    </a>
                </li>
                <li>
                    <a class="popup social-link" href="http://www.facebook.com/sharer/sharer.php?u={{site.url}}&title={{site.title}}">
                        <span class="icon icon-facebook"></span>
                    </a>

                </li>
                <li>
                    <a class="popup social-link" href="http://www.linkedin.com/shareArticle?mini=true&url={{site.url}}&title={{site.title}}&source={{site.url}}">
                        <span class="icon icon-linkedin"></span>
                    </a>
                </li>
                <li>
                    <a class="popup social-link" href="https://plus.google.com/share?url={{site.url}}">
                        <span class="icon icon-googleplus"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>

</body>
<script src="{{site.baseurl}}/js/lib/jquery-2.1.4.min.js"></script>
<script src="{{site.baseurl}}/js/main.js"></script>
</html>

