<footer class="site-footer">
    <div class="support-item">
        <ul>
            <li><a>User guide</a></li>
            <li><a>Support forum</a></li>
            <li><a>support@level-level.com</a></li>
            <li><a>Github</a></li>
        </ul>
    </div>
    <div class="footer-items">

        <div class="footer-item">
            <a class="button small-button" href=""> download plugin</a>
        </div>

        <div class="footer-item social">
            Share plugin
            <ul>
                <li><a>tw</a></li>
                <li><a>fb</a></li>
            </ul>
        </div>
        <div class="footer-item social">
            <ul>
                <li><a>tw</a></li>
                <li><a>fb</a></li>
            </ul>
        </div>
    </div>
</footer>

</body>
<script src="{{site.baseurl}}/js/lib/jquery-2.1.4.min.js"></script>
<script src="{{site.baseurl}}/js/main.js"></script>
</html>

