.wrap p, .wrap p.explanation, .wrap label, .wrap input[type=text] {
    margin: 0;
    padding: 0;
    outline: 0;
}
.wrap label {
    font-weight: bolder;
}
.wrap p {
    margin-top: 20px;
    margin-bottom: 5px;
}
.wrap input[type=text] {
    margin-top: 5px;
    padding: 5px;
    min-width: 300px;
}
.wrap input[type=button] {
    margin-top: 6px;
}
.wrap #llcw_server_settings_popup {
    padding: 4px 25px 16px;
    background: white;
    border: 1px solid #eaeaea;
}
.wrap #llcw_server_settings_popup textarea {
    margin: 5px 0;
}