.button {
  position: relative;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  color: $white;
  line-height: 25px;

  &a {
    &:visited {
      color: $white;
    }

  }

  margin: 0 auto;
  display: block;

  &:after {
    content: '\e908';
    position: absolute;
    right: 15px;
    top: 12px;
  }

  &.read-button {
    font-size: 13px;
    padding: 5px;
    width: 150px;
    font-weight: 600;

    border: 2px solid #fff;
    &:after {
      top: 7px;
      right: 5px;
    }
  }

  &.download-button {
    font-size: $base-font-size;
    text-transform: lowercase;
    padding: 10px;
    width: 200px;
    background-color: $green;
    font-weight: $font-weight-medium;
  }

  &.small-button {
    font-size: 13px;
    width: 150px;
    padding: 5px;
    &:after {
      top: 6px;
      right: 8px;
    }
  }
}

