.icon-wall:before {
  content: "\e90b";
}
.icon-text:before {
  content: "\e907";
}
.icon-analytics:before {
  content: "\e900";
}
.icon-block:before {
  content: "\e901";
}
.icon-customize:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-googleplus:before {
  content: "\e904";
}
.icon-law:before {
  content: "\e905";
}
.icon-linkedin:before {
  content: "\e906";
}
.icon-pijl:before {
  content: "\e908";
}
.icon-social:before {
  content: "\e909";
}
.icon-twitter:before {
  content: "\e90a";
}

