html, body {
  height: 100%;
  width: 100%;
  position: relative;
}

.page-content {
    position: relative;
    padding-left: $margin;
    margin-top: 140px;

  .wrapper {
    background-color: $green-opacity;
    margin-left: -$margin;

  }

  h1 {
    text-transform: uppercase;
  }
  p {
    font-size: 13px;
  }

  .about-plugin {
    text-align: center;
    padding: $margin;
    color: $white;
    width: 100%;
    h1 {
      word-spacing: 5px;
    }
    p {
      margin: 0 auto 10px auto;
      width: 80%;
    }
  }
}