html, body {
  height: 100%;
  width: 100%;
  position: relative;
}

.page-content {
  position: relative;
  padding-left: $margin;
  margin-top: 140px;

  .wrapper {
    background-color: $green-opacity;
    margin-left: -$margin;
  }

  h1 {
    text-transform: uppercase;
  }
  p {
    font-size: 13px;
  }

  .about-block {
    .feature-image {
      max-height: 280px;
    }
    .about-plugin {
      text-align: center;
      padding: $margin;
      color: $white;
      width: 100%;
      h1 {
        word-spacing: 5px;
      }
      p {
        margin: 0 auto 20px auto;
        width: 90%;
      }
    }
  }
  .intro-guide {
    padding: $margin;
    color: $white;
    text-align: center;
  }
  .guide-items {
    background-color: $light-grey;
    padding: 0 $margin;

    .guide-item {
      padding-bottom: 25px;
      h2 {
        margin: 0;
      }
    }
  }

}