html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $font-weight-base;
  line-height: $base-line-height;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;

}

ul {
  li {
    list-style: none;
    position: relative;
    &:before {
      content: '';
      display: block;
      border: .23em solid $green;
      border-radius: 0.333em;
      position: absolute;
      top: 9px;
      left: -20px;
    }
  }
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

/**
 * Links
 */
a {
  text-decoration: none;
  color: $green;
  &:hover {
    text-decoration: underline;
  }
}

//a {
//  text-decoration: none;
//  color: #D8D8D8;
//  &:hover {
//    color: $white !important;
//  }
//  &:visited {
//    text-decoration: none;
//  }
//}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $font-weight-medium;
    line-height: 33px;
}
h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}