{% include head.html %}

<div class="page-content">
    <div class="wrapper">
        <div class="feature-images">
            <img src="/assets/example.png">
        </div>
        <div class="about-plugin">
            <h1>About the plugin</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida
                dolor sit amet lacus accumsan et viverra justo commodo. </p>
            <a class="button small-button" href="/user-guide/index.html"> read user guide </a>
        </div>
        <div class="features">
            <h1>Plugin features</h1>
            <div class="feature-items">
                <div class="feature-item">
                    <h2>Social sharing</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
                </div>
                <div class="feature-item">
                    <h2>Google Analaytics</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
                </div>
                <div class="feature-item">
                    <h2>Custom privacy and policy</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
                </div>
                <div class="feature-item">
                    <h2>100% block</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
                </div>
                <div class="feature-item">
                    <h2>Europe law</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
                </div>
                <div class="feature-item">
                    <h2>Customize</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
                </div>
            </div>

        </div>
    </div>
</div>

{% include footer.html %}


