{% include head.html %}

<div class="page-content">
    <div class="wrapper">
        <div class="intro-guide">
            <h1>Get started</h1>

            <p>Install and activate in 3 easy steps.</p>
        </div>
        <div class="guide-items">
            {% for step in site.steps %}
                <div class="guide-item">
                    <div class="example-image">
                        <img src="{{site.baseurl}}/assets/{{step.image}}">
                    </div>
                    <div class="step-info">
                        <h2>{{step.title}}</h2>
                        {{step.content}}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% include footer.html %}
