{% include head.html %}

<div class="page-content">
    <div class="wrapper">
        <div class="intro-guide">
            <h1>User guide</h1>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida
                dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis
                natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus
                pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
        </div>
        <div class="guide-items">
            <div class="guide-item">
                <div class="example-image">
                    <img src="{{site.baseurl}}/assets/example.png">
                </div>

                <div class="step-info">
                    <h2>Customize</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
                        gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                        tempor.Lorem
                        ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
                        gravida
                        dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>
                </div>

            </div>
            <div class="guide-item">
                <div class="example-image">
                    <img src="{{site.baseurl}}/assets/example.png">
                </div>

                <div class="step-info">

                    <h2>Server settings</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
                        gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                        tempor.Lorem
                        ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
                        gravida
                        dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>
                </div>
            </div>
            <div class="guide-item">
                <div class="example-image">
                    <img src="{{site.baseurl}}/assets/example.png">
                </div>

                <div class="step-info">

                    <h2>Result</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
                        gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                        tempor.Lorem
                        ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
                        gravida
                        dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% include footer.html %}
