.site-footer {
  position: relative;
  clear: both;
  height: 400px;
  font-size: 15px;
  padding: $margin;
  background-color: $grey;
  color: #D8D8D8;

  ul {
    list-style: none;
    margin: 0;
  }

  .footer-title {
    display: block;
    font-weight: $font-weight-medium;
    padding-bottom: 5px;
  }

  .support-item {

    .more-info {
      padding-bottom: 25px;
      ul {
        li {
          padding-bottom: 5px;
          font-size: 13px;
        }
      }
    }

    .copyright {
      position: absolute;
      bottom: 30px;
      .logo {
        display: block;
        height: 20px;
        width: 120px;
        margin-bottom: 10px;
        background-image: url('../assets/level-level-logo.svg');
      }
      .copyright-info {
        display: block;
        font-size: 13px;
      }
    }
  }

  .footer-items {

    .footer-item {
      padding-bottom: 5px;

      .button {
        position: absolute;
        top: 25px;
        right: 25px;
        margin: 0;
      }
      &.social {
        ul {
          li {
            display: inline;
            a {
              float: left;
              padding-right: 5px;
              font-size: 35px;
            }
          }
        }
      }
    }
  }
}