.site-footer {
  position: relative;
  height: 300px;
  font-size: 15px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: $grey;
  color: #D8D8D8;

  ul {
    list-style: none;
    margin: 0;
  }

  .footer-title {
    display: block;
    font-weight: $font-weight-medium;
    padding-bottom: 5px;
  }

  .support-item {
    order: 1;
    width: 70%;

    .more-info {
      ul {
        li {
          padding-bottom: 5px;
        }
      }
    }

    .copyright {
      position: absolute;
      bottom: 45px;
      .logo {
        display: block;
        height: 20px;
        width: 120px;
        margin-bottom: 10px;
        background-image: url('../assets/level-level-logo.svg');
      }
      .copyright-info {
        display: block;
      }
    }
  }

  .footer-items {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    order: 1;

    .footer-item {
      order: 1;
      padding-bottom: 5px;


      .button {
        margin: 0;
      }
      &.social {
        position: absolute;
        top: 80px;
        ul {
          li {
            display: inline;
            a {
              float: left;
              padding-right: 5px;
              font-size: 35px;
            }
          }
        }
      }
    }
  }
}