.site-footer {
  position: relative;
  clear: both;
  height: 340px;
  font-size: 15px;
  padding: $margin;
  background-color: $grey;
  color: $footer-color;

  ul {
    list-style: none;
    margin: 0;
  }

  .footer-title {
    display: block;
    font-weight: $font-weight-medium;
    padding-bottom: 5px;
  }

  .support-item {
    .more-info {
      padding-bottom: 25px;
      ul {
        li {
          padding-bottom: 5px;
          font-size: 13px;
          .info-link {
            color: $footer-color;
            transition: color .4s;

            &:hover {
              color: $green;
              text-decoration: none;
            }
          }
        }
      }
    }

    .copyright {
      position: absolute;
      bottom: 30px;
      .logo {
        display: block;
        height: 20px;
        width: 120px;
        margin-bottom: 10px;
        background-image: url('../assets/level-level-logo.svg');
      }
      .copyright-info {
        display: block;
        font-size: 13px;
        .info-link {
          color: $footer-color;
          transition: color .4s;

          &:hover {
            color: $green;
            text-decoration: none;
          }
        }
      }
    }
  }

  .footer-items {
    .footer-item {
      padding-bottom: 5px;

      .button {
        position: absolute;
        top: 25px;
        right: 25px;
        margin: 0;
      }
      &.social {
        ul {
          li {
            display: inline;
            .social-link {
              color: $footer-color;
              float: left;
              padding-right: 5px;
              font-size: 35px;
              transition: color .4s;

              &:hover {
                color: $green;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}