.main-header {
  position: fixed;
  overflow: hidden;
  z-index: 999;
  width: 100%;
  height: $header-height;
  top: 0;
  left: 0;

  padding: 20px;
  background-color: $brand-bg-color;

  box-shadow: 0 2px 5px rgba(0, 0, 0, .11);
  transition: all 0.4s ease;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 9px;
    width: 100%;
    background-color: $green;
  }
  
  .site-title {
    font-size: $site-title;
    margin-bottom: 0;

    .home-link {
      color: $text-color;
      &:hover {
        color: $text-color;
        text-decoration: none;
      }
    }
  }
  .subtitle {
    font-weight: $font-weight-base;
    font-size: 15px;
  }
  .site-title, .subtitle {
    line-height: 22px;
    text-align: center;
  }

  .free {
    display: block;
    text-align: center;
    color: #878787;
    font-size: 13px;
  }

  &.sticky {
    height: 85px;
    padding: 20px;
    .site-title, .subtitle, .free {
      display: none;
    }

    &:before {
      content: '';
      display: none;
    }
  }
}
