@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?svjh92');
  src:url('../fonts/icomoon.eot?svjh92#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?svjh92') format('truetype'),
  url('../fonts/icomoon.woff?svjh92') format('woff'),
  url('../fonts/icomoon.svg?svjh92#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}